
<html>
<head>
<meta charset="UTF-8">
<title>Dane Rules!</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
body {
  background-image: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {text-align: center;}

</style>
</head>
<body>

<h2 style="background-color:DodgerBlue;">Dane "Awesomesauce" Vestal</h2>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='DaneV.jpg') }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">A Bit About Me:</h5>
        <p class="card-text">Im in the boyscouts and all the chicks dig me</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

</body>
</html>