<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>abouteva</title>
</head>
<body>

<h1>Access Array Elements</h1>
<script language="JavaScript">
    // Create the array and fill it with data.
    var Colors = ["Blue", "Green", "Purple"];
    // Define a loop to access each array element
    // and display it onscreen.
    for (i = 0; i < Colors.length; i++)
    {
      document.write(
        "Colors " + i + " = " +
        Colors[i] + "<br />");
    }
  </script>

</body>
</html>